<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [ ]:
print("Hello World")

Hello World

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [ ]:
a = 30
b = 15

#penjumlahan
print("penjumlahan a + b = " , a+b)

#pengurangan
print("pengurangan a - b = " , a-b)

#perkalian
print("perkalian a * b = " , a*b)

#pembagian
print("pembagian a/b = " , a/b)

penjumlahan a + b =  45
pengurangan a - b =  15
perkalian a * b =  450
pembagian a/b =  2.0

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [ ]:
#variabel a dan b bertipe data numeric
a = 80
b = 4

#hasil pembagian a dengan b bertipe data integer
c = a//b
print (c)
type(c)

20

int

In [ ]:
a = 5
b = 10

#hasil pembagian a dengan b bertipe data float
c = a/b
print(c)
type(c)

0.5

float

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science.'

In [ ]:
firstname = 'Nabila'
lastname = ' Zen'

print('Hello sanbercode, saya ' + firstname + lastname + '! saya siap belajar python data science')

Hello sanbercode, saya Nabila Zen! saya siap belajar python data science

Expected Output :

Hello sanbercode, saya fauzan taufik! saya siap belajar python data science.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [ ]:
p = 9.99999
q = 'the number: '
print(q + str(p))

the number: 9.99999

Expected Output :

the number: 9.99999