<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [ ]:
#Comparison tipe data String
o= "alan"
c= "dita"
d = o < c
print("1.", d)

buah = 'Jeruk'
print("2.", buah == 'Jeruk')
print("3.", buah!= 'Jeruk')

print('='*100)

#Comparison tipe data Boolean
a = True
b = False

print(a == b)
print(a != b)

print('='*100)

#Comparison tipe data integer
k = 9
p = 8

m = k < p
print(m)

1. True
2. True
3. False
====================================================================================================
False
True
====================================================================================================
False

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [ ]:
#gabungan multiple comparison menggunkan Boolean Comparisin 'and'
x = 7
if 0 < x and x < 10:
    print("x adalah bilangan di range 0-10.")

x adalah bilangan di range 0-10.

In [ ]:
#gabungan multiple comparison menggunkan Boolean Comparisin 'or'
x = 7
if 0 < x or x < 10:
    print("x adalah bilangan di range 0-10.")

x adalah bilangan di range 0-10.

In [ ]:
#gabungan multiple comparison menggunkan Boolean Comparisin 'not'
daya_pedang = 1.00
perisai_pelindung = 200

if not ((daya_pedang >= 0.90) and (perisai_pelindung >= 100)):
    print("Serangan mu tidak mempan, sang naga membakar diri mu menjadi ayam krispi!")
else:
    print("Sang naga sudah terkapar dan kejang-kejang. Kamu berhasil menyelamatkan sang pangeran cantik! eh")

Sang naga sudah terkapar dan kejang-kejang. Kamu berhasil menyelamatkan sang pangeran cantik! eh

In [ ]:

#gabungan multiple comparison menggunkan Boolean Comparisin 'and'
x = 17
x > 5 and x < 20

True

In [ ]:
#gabungan multiple comparison menggunkan Boolean Comparisin 'or'
m = 17
m < 17 or m > 17

False

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'Besar' jika ruangan adalah 'Kamar' dan ukuran lebih dari 12, kemudian mem-print 'Sedang' jika ruangan adalah 'Kamar' dan ukuran lebih dari 6 dan memprint 'Kecil' jika ruangan adalah 'Kamar' dan ukuran ruangan lebih kecil dan sama dengan 6.

In [ ]:
ruangan = 'Kamar'
size = 4

if ruangan == 'Kamar' and size > 12:
  print("Besar")
elif ruangan == 'Kamar' and 6 <= size <= 12:
  print("Sedang")
elif ruangan == 'Kamar' and size < 6:
  print("Kecil")
else:
  print("Mohon diperiksa kembali")

Kecil

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [ ]:
# Buat fungsi
def argumen(x):
    if x % 2:
      return(x, "Aneh")
    elif x % 2 == 0 and 2 <= x <= 5:
      return(x, "Tidak Aneh")
    elif x % 2 == 0 and 6 <= x <= 20:
      return (x, "Aneh")
    elif x % 2 and x > 20:
      return (x, "Aneh")

argumen(21)

(21, 'Aneh')

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop

**Jawaban**

While loop = terus menerus melakukan perulangan selama statement masih bernilai TRUE

For Loop = perulangan berdasarkan jumlah elemen

In [ ]:
# Tulis Kode While Loop
i = 0
while i < 11:
    print(i)
    i += 1

print('='*100)

#Tulis kode For loop
Planets = ['Merkurius', 'Venus', 'Mars', 'Bumi']

for i in Planets:
  print("Nama Planet",i)

0
1
2
3
4
5
6
7
8
9
10
====================================================================================================
Nama Planet Merkurius
Nama Planet Venus
Nama Planet Mars
Nama Planet Bumi


<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang merima satu input nilai numeric
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [ ]:
def fungsi_while(a):
  while a != 0:
    print(a)
    a -= 1

fungsi_while(10)

10
9
8
7
6
5
4
3
2
1

Expected Output:

10

9

8

7

6

5

4

3

2

1

<h2>Soal 7: For Loop</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [ ]:
obj_list= [1, 16, 11, 10, 5]

# lengkapi code di bawah
for index, obj in enumerate(obj_list) :
  print(index * obj)

0
16
22
30
20

Expected Output:

0

16

22

30

20